html, body {
  margin: 0;
  padding: 0;
  background-color: #9DA7BB;
}
canvas {
  display: block;
}

h1 {
  text-align: center;
  color: white;
  margin: 0;
  padding: 20px 0;
  background-color: black;
}

/* REMOVE 
    h2 {
  text-align: center;
  background-color: #9DA7BB;
  color: #000;
  margin: 0;
  margin-top: 1px;
  padding: 0px 0;
} */

main{
    background-color: #9DA7BB;
    padding: 10px;
    margin: 0;
}

